@import '../../_variables';

.text-muted{
  color: $color-4;
  text-align: right !important;
  font-size: 2rem !important;
  margin-right: 15px;
  margin-top: 3%;
}
@media (max-width: 992px){
  .text-muted{
    margin-top: 0px !important;
    font-size: 1.5rem !important;
  }
}