@import '../../_variables';

.text-muted{
  color: $color-6 !important;
  text-align: right !important;
  font-size: 2rem !important;
  margin-right: 15px;
  margin-top: 3%;
}
#star{
  margin: 10px 20px 0 0;
}
@media (max-width: 992px){
  .text-muted{
    font-size: 1.5rem !important;
  }
}