@import '../../styles/_variables';

.delivery{
  width: 120px;
}
.delivery-free{
  background-color: $color-6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 441px);
}
.delivery_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}
.delivery_message{
  font-size: 2rem;
  text-align: center;
}
.delivery_message_eng{
  font-size: 3rem;
  text-align: center;
}
.main_delivery{
  color: $color-1;
  text-decoration: underline;
  text-align: center;
  font-size: 2.5rem;
}
@media (max-width: 840px){
  .delivery_wrapper{
    max-width: 80%;
  }
}
@media (max-width: 650px){
  .delivery_message{
    font-size: 1.5rem;
  }
  .main_delivery{
    font-size: 2rem;
  }
}
@media (max-width: 500px){
  .main-page-link_delivery{
    font-size: 1.5rem;
  }
  .main_delivery{
    font-size: 1.8rem;
  }
  .delivery_message_eng{
    font-size: 2rem;
  }
}