body{
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .body{
      width: 1199px;
      margin: 0 auto;
      background-color: rgba(42, 163, 163, 0.3);
  }
}
@media (max-width: 1199px) {
  .body{
      background-color: rgba(42, 163, 163, 0.3);
  }
}





//------------------------HEADER
.navbar{
  background-color:  $background-color-1;
  //flex-wrap: nowrap;
}
.navbar-brand{
  margin-right: 14%;
  font-size: 1.5rem !important;
  color: $color-1;
}
.navbar-brand:hover{
  color: $color-2;
}
.navbar-collapse  {
  //justify-content: flex-end !important;
  padding-right: 10px;
}
.navbar-nav{
  padding-bottom: 7px;
}
.mr-auto{
  margin-right: 0 !important;
}
#logo{
  width: 25%;
}
// .navbar-toggler{
//   padding-left: 10px !important;
// }
.navWrapper{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}
.shoppingCart{
  width: 20px;
  padding-bottom: 5px;
}
.shoppingCard-quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 38px;
  background-color: rgb(179, 236, 232);
  border-radius: 50%;
  width: 11px;
  height: 11px;
}
#shoppingCard-quantity {
  font-size: 8px;
}

// <li className="nav-item active">
//             <div className="soppingCard-wrapper">
//               <a className="nav-link" href="/">
//                 <img className="soppingCart add-width" src="./assets/images/sopping-cart-empty.svg" alt="Sopping cart" />
//               </a>
//               <div className="soppingCard-quantity">
//                 <span id="soppingCard-quantity">+</span>
//               </div>
//             </div>
//           </li>
// .soppingCart:hover{
//   transform: scale(1.2)
// }
.nav-link{
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 3px;
}
.nav-link:hover{
  color:  $color-2;
}
#icon {
  border: 1px solid $color-3;
}
#icon:hover, #icon:target, #icon:focus {
  border: 1px solid $color-2;
}
#navbarSupportedContent{
  font-size: 1.2rem !important;
}
#navbarSupportedContent a:hover{
  color: $color-2;
  background-color:  $background-color-1;
}
.dropdown-menu{
  border: none !important;
}
#dropdownMenuNav{
  background-color:  $background-color-1;
}
#dropdownMenuNav a:hover{
  color:  $color-2;
}
.none {
  display: none !important;
}
#Russia{
  width: 20px;
  margin-left: 15px
}
#USA{
  width: 20px;
  margin-left: 31px;
}
@media (max-width: 767px) {
  .navbar-brand{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem !important;
    margin-right: 0;
  }
  #logo{
    max-width: 40px;
  }
  .navWrapper{
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navbar-toggler{
    padding-left: 9px;
    padding-right: 9px;
  }
  .navbar-toggler-icon {
    width: 20px;
  }
  .shoppingCard-quantity{
    top: 8px;
  }
}
@media (max-width: 576px) {
  .row-direction {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navWrapper{
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .add-font-size{
    font-size: 1.1rem !important;
  }
  .add-width{
    width: 17px
  }
  .shoppingCard-quantity{
    top: 17px;
    left: 28px;
  }
}
@media (max-width: 500px) {
  .row-direction {
    width: 125px;
  }
  .navWrapper{
    width: 190px;
    height: 25px;
  }
  .add-font-size{
    font-size: 0.9rem !important;
  }
  .add-width{
    width: 15px
  }
  .navbar-toggler{
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-toggler-icon {
    width: 17px;
  }
  .navbar-brand{
    font-size: 0.65rem !important;
  }
  .padding-none {
    padding-left: 0px;
    padding-right: 0px;
  }
  .row-direction{
    margin-left: 20px;
    margin-top: 3px;
  }
  .shoppingCard-wrapper{
    margin-right: 10px;
  }
  .shoppingCard-quantity{
    top: 20px;
    left: 30px;
  }
}




// ----------------------SLIDER
.carousel-control-next, .carousel-control-prev{
  max-width: 120px;
  opacity: 0.9 !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  transform: scale(1.5, 2.5);
} 
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
  transform: scale(2, 3);
} 
.carousel-item h1 {
  position: absolute;
  margin: 0;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.carousel-item {
  display: block;
}
@media (max-width: 600px) {
  .carousel-control-next-icon, .carousel-control-prev-icon{
    transform: scale(1.2, 1.8);
  } 
  .carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
    transform: scale(1.4, 2.2);
  } 
}




//-------------------CONTROL_BUTTONS
.control_buttons {
  display: flex;
  justify-content: flex-start;
}
#adult{
  background-color: $background-color-1;
  @include id_album();
}
#kids{
  background-color: $background-color-2;
  @include id_album();
}
#slippers{
  background-color: $background-color-3;
  @include id_album();
}
#kids:hover, #kids:focus, #kids:active {
  color: $color-2;
  outline: none !important;
  border: none !important;
}
#adult:hover{
  color: $color-2;
}
#slippers:hover{
  color: $color-2;
}
.btn {
  border-radius: 0;
}
button:hover, button:focus, button:visited, button:active{
  box-shadow: none !important;
  outline: none !important;
  cursor: pointer;
}
small:hover, small:focus, small:visited, small:active, small:target{
  cursor: pointer;
}
@media (max-width: 767px) {
  .col-md-4 {
    padding: 20px 50px;
  }
  #adult, #kids, #slippers{
    padding: 7px 20px;
  }
}
@media (max-width: 600px) {
  #adult, #kids, #slippers{
    padding: 5px 20px;
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  #adult, #kids, #slippers{
    padding: 5px 10px;
    font-size: 16px;
  }
}
@media (max-width: 415px) {
  #adult, #kids, #slippers{
    font-size: 14px;
  }
}
@media (max-width: 365px) {
  #adult, #kids, #slippers{
    font-size: 11px;
  }
}




//------------------------ALBUM
// .container {
//   margin-left: 0 auto !important;
//   margin-left: 0 auto !important;
// }
.adult {
  background-color: $background-color-1;
}
.kids {
  background-color: $background-color-2;
}
.slippers {
  background-color: $background-color-3;
}
.title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_wrapper{
  display: flex;
  justify-content: center;
}
.single-card{
  width: 50%;
}
.card_btn-BUY, .card_btn-sizes{
  width: 80px;
  height: 40px;
}
.card_btn-BUY:hover,
.card_btn-BUY:focus{
  background-color: $color-3;
  color: $color-2;
  font-weight: 400;
  border-color: $color-3;
}
.btn .left{
  padding-right: 10px;
  font-weight: 500 !important;
}
.btn .btn-sm .btn-outline-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn .right{
  padding-left: 10px;
  font-weight: 500 !important;
  font-size: 1rem;
}
.right:hover, .right:target, .right:focus{
  color: rgb(60, 201, 211) !important;
}
.left:hover, .left:target, .left:focus{
  color: rgb(60, 201, 211) !important;
}
.button_span:hover{
  color: $color-3;
}
.card_btn-sizes:hover,
.card_btn-sizes:focus{
  background-color: $color-3;
  color: $color-2;
  font-weight: 400;
  border-color: $color-3;
}
.card_btn-sizes{
  background-color: $color-2 !important;
  line-height: 1.8;
}
#price{
  font-size: 2.5rem !important;
  color: #6c757d !important;
}
.card-text{
  margin-top: 7px !important;
  font-size: 1.5rem !important;
}
.text-muted{
  color: rgb(60, 201, 211) !important;
  text-align: right !important;
  font-size: 2rem !important;
  margin-right: 7%;
  margin-top: 3%;
}
#sizeDroppdownMenu{
  background-color: rgb(224, 253, 245) !important;
}
@media (max-width: 1200px) {
  .text{
    font-size: 1.3rem !important;
  }
}
@media (max-width: 992px) {
  .btn-group .btn {
    font-size: 12px !important;
  }
  .text-muted{
    margin-top: 0px !important;
    font-size: 1.5rem !important;
  }
  #price{
    font-size: 1.8rem !important;
    color: #6c757d !important;
  }
  .card-text{
    //margin-top: 10px !important;
    font-size: 1.3rem !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .card-body{
    padding-top: 0 !important;
  }
  .text{
    font-size: 1rem !important;
  }
  .card_btn-BUY, .card_btn-sizes{
    width: 50px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .col-md-4 {
    padding: 20px 50px;
  }
  .text{
    font-size: 1.5rem !important;
  }
  .card_btn-BUY, .card_btn-sizes{
    width: 80px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .text{
    font-size: 1rem !important;
  }
  .card_btn-BUY, .card_btn-sizes{
    width: 50px;
    height: 30px;
  }
}

//--------------------------- Overright default bootstrap bg colors to album
// .bg-light {
//   background-color: $background-color-1;
// }
// .bg-danger {
//   background-color: $background-color-2;
// }
// .bg-primary {
//   background-color: $background-color-3;
// }





//-------------------------SHOPPING CART---------------------------
.empty-shoppingCart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
}
.empty-shoppingCart_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.big-size {
  width: 80px;
  margin-bottom: 2vh;
}
.empty-shoppingCart_message{
  font-size: 2rem;
}
.main-page-link{
  color: $color-1;
  font-size: 3rem;
  text-decoration: underline;
}
.main-page-link:hover{
  color: $color-3;
}
@media (max-width: 767px) {
  .empty-shoppingCart{
    height: 50vh;
  }
}






// ----------------FOOTER
.page-footer {
  background-color: rgba(44, 138, 138, 0.3) !important;
}
.list-unstyled a{
  text-decoration: none !important;
  color: rgba(44, 138, 138, 1) !important;;
}
.list-unstyled a:hover{
  text-decoration: none !important;
  color: rgb(255, 255, 255) !important;;
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 70px;
  padding-right: 1%;
}
.inline {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
}
.inline a {
  padding-left: 1%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#text-column-2 {
  padding-left: 7%;
}
@media (max-width: 768px) {
  .container-fluid{
      padding: 0 20px 0 20px !important;
  }
  #text-column-1{
      padding: 0 20px 0 20px !important;
  }
  #text-column-2{
      padding: 0 20px 0 20px !important;
  }
  #text-column-3{
      padding: 0 20px 0 20px !important;
  }
}
@media (max-width: 550px) {
  .footer-copyright {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  #logo {
      width: 50px;
  }
  .inline {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  }
  .inline a {
      padding-left: 0;
  }
}




// --------------------MODAL WINDOWS
// .none {
//   display: none !important;
// }
// .block {
//   display: block !important;
// }
.modal-footer{
  border-top: none;
}
.modal-header{
  border-bottom: none;
}
#signUpBtn{
  background-color: $background-color-1;
  border-color: $background-color-1;
  opacity: 0.7;
}
#loginBtn{
  background-color: $background-color-1;
  border-color: $background-color-1;
  opacity: 0.7;
}
#signUpBtn:hover, #signUpBtn:target, #signUpBtn:focus{
  background-color: $background-color-1;
  border-color: $background-color-1;
  opacity: 1;
}
#loginBtn:hover, #loginBtn:target, #loginBtn:focus{
  background-color: $background-color-1;
  border-color: $background-color-1;
  opacity: 1;
}
