@import '../../_variables';

.adult{
  background-color: $background-color-1;
}
.kids{
  background-color: $background-color-2;
}
.slippers{
  background-color: $background-color-3;
}
.title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_wrapper{
  display: flex;
  justify-content: center;
}
.single-card{
  width: 50%;
}
.card-body{
  padding: 20px 30px 20px 30px;
}
.card_btn-BUY{
  //background-color: $color-6;
  max-width: 20vw;
  height: 40px;
  color: $color-1
}
.card_btn-BUY:hover,
.card_btn-BUY:focus{
  background-color: $color-3;
  color: $color-2;
  font-weight: 400;
  border-color: $color-3;
}
// .btn .left{
//   padding-right: 10px;
//   font-weight: 500 !important;
// }
// .btn .btn-sm .btn-outline-secondary{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// .button_span:hover{
//   color: $color-3;
// }

#price{
  font-size: 2.5rem;
  color: #6c757d !important;
}
.card-text{
  margin-top: 7px !important;
  font-size: 1.5rem;
}
@media (max-width: 1200px){
  .text{
    font-size: 1.3rem;
  }
}
@media (max-width: 992px){
  .btn-group .btn{
    font-size: 12px;
  }
  .card-body{
    padding: 15px;
  }
  #price{
    font-size: 1.8rem;
    color: #6c757d !important;
  }
  .card-text{
    margin-top: 0px !important;
  }
  .card-body{
    padding-top: 0 !important;
  }
  .text{
    font-size: 1rem;
  }
  .card_btn-BUY{
    height: 30px;
  }
}
@media (max-width: 801px) and (min-width: 767px){
  .text{
    font-size: 0.6rem;
  }
  .btn-sm{
    font-size: 0.6rem;
    padding: 2px 4px 2px 4px;
    // line-height: 20px;
  }
  .card_btn-BUY{
    height: 22px;
  }
}
@media (max-width: 767px){
  .col-md-4{
    padding: 20px 50px;
  }
  .text{
    font-size: 1.5rem !important;
  }
  .card_btn-BUY{
    height: 40px;
  }
  .card-body{
    padding: 20px 30px 20px 30px;
  }
}
@media (max-width: 480px){
  .card_btn-BUY{
    max-width: 40vw;
    height: 30px;
    font-size: 10px !important;
  }
  .card-body{
    padding: 20px;
  }
  .card-text{
    font-size: 0.8rem !important;
  }
  .price{
    font-size: 1rem;
    margin-top: 10px
  }
  .mb-3 {
    margin-bottom: 0px !important;
  }
}