@import '../../_variables';

#sizeDroppdownMenu{
  background-color: $background-color-4;
}
.sizeItem:hover{
  background-color: $background-color-2;
}
.single-card_img{
  width: 80%;
  margin: 0 auto;
}