@import '../../_variables';

.okBtn{
  background-color: $background-color-2;
  border-color: $background-color-2;
  color: $color-2;
}
.okBtn:hover,
.okBtn:focus{
  background-color: $color-2;
  border-color: $background-color-2 !important;
  color: $background-color-2 !important;
}
.form-control:focus{
  box-shadow: none;
}
.modal-footer{
  border-top: none;
}
.modal-header{
  border-bottom: none;
}
