@import '../../_variables';

.warranty{
  background-color: $color-9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
}
.warranty_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}
.warranty-img{
  width: 180px;
}
.warranty_message{
  font-size: 2.5rem;
  text-align: center;
}
.main_warranty{
  color: $color-1;
  font-size: 2.3rem;
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 840px){
  .warranty_wrapper{
    max-width: 80%;
  }
}
@media (max-width: 650px){
  .warranty_message{
    font-size: 1.5rem;
  }
  .main_warranty{
    font-size: 2rem;
  }
}
@media (max-width: 500px){
  .main_warranty{
    font-size: 1.8rem;
  }
  .warranty_message_eng{
    font-size: 2rem;
  }
}