body{
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .body{
        width: 1199px;
        margin: 0 auto;
        background-color: rgba(42, 163, 163, 0.3);
    }
}
@media (max-width: 1199px) {
    .body{
        background-color: rgba(42, 163, 163, 0.3);
    }
}

/* .row{
    display: block !important;
} */




/* ------------------------HEADER */
.navbar{
    background-color:  rgba(44, 138, 138, 1) !important;
}
.navbar-brand{
    margin-right: 14%;
    font-size: 1.5rem !important;
    color: rgba(44, 138, 138, 1) !important;
}
.navbar-brand:hover{
    color: rgb(255, 255, 255) !important;
}
.navbar-collapse  {
    justify-content: flex-end !important;
    padding-right: 10px;
}
.mr-auto{
    margin-right: 0 !important;
}
#logo{
    width: 25%;
}
#icon:hover, #icon:target, #icon:focus {
    border: 1.5px solid rgb(255, 255, 255) !important;
}
#navbarSupportedContent{
    font-size: 1.2rem !important;
}
#navbarSupportedContent a:hover{
    color: rgb(255, 255, 255) !important;;
    background-color:  rgba(44, 138, 138, 1) !important;
}
.dropdown-menu{
    border: none !important;
}
#dropdownMenuNav{
    background-color:  rgba(44, 138, 138, 1) !important;
}
#dropdownMenuNav a:hover{
    color:  rgb(255, 255, 255) !important;;
}
@media (max-width: 441px) {
    .navbar-brand{
        margin-right: 0;
    }
}
@media (max-width: 381px) {
    #logo{
        width: 0;
    }
}
.text-muted{
    color: rgb(255, 0, 0) !important;
}




/* ----------------------SLIDER */

.carousel-control-next, .carousel-control-prev{
    transform: scale(1.5, 2.5);
    opacity: 0.9 !important;
} 
.carousel-control-next:hover, .carousel-control-prev:hover{
    transform: scale(2.5, 3.5);
} 
.carousel-item h1 {
    position: absolute;
    margin: 0;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




/* -------------------CONTROL_BUTTONS */
.control_buttons {
    display: flex;
    justify-content: flex-start;
}
.adult{
    background-color: rgba(44, 138, 138, 1) !important;
    border-radius: 0 !important;
    border: none;
    color: rgb(33, 37, 41);
    outline: none;
    margin: 0;
}
.kids{
    background-color: rgba(44, 138, 138, 0.5)  !important;
    border-radius: 0 !important;
    border: none;
    color: rgb(33, 37, 41);
    outline: none;
    margin: 0;
}
.slippers{
    background-color: rgba(44, 138, 138, 0.2)  !important;
    border-radius: 0 !important;
    border: none;
    color: rgb(33, 37, 41);
    outline: none;
    margin: 0;
}
#kids:hover, #kids:focus, #kids:active {
    color: rgb(255, 255, 255) !important;
    outline: none !important;
    border: none !important;
}
#adult:hover{
    color: rgb(255, 255, 255) !important;
}
#slippers:hover{
    color: rgb(255, 255, 255) !important;
}

.btn {
    border-radius: 0;
}
button:hover, button:focus, button:visited, button:active{
    box-shadow: none !important;
    outline: none !important;
    cursor: pointer;
}
small:hover, small:focus, small:visited, small:active, small:target{
    cursor: pointer;
}




/* ------------------------ALBUM */
.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255) !important;;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
@media (max-width: 650px) {
    .mb-4 {
        margin: 4% 10% 4% 10% !important;
    }
}
.jumbotron p:last-child {
    margin-bottom: 0;
}
.jumbotron h1 {
    font-weight: 400;
}
.jumbotron .container {
    max-width: 40rem;
}
#card_btn-BUY:hover,
#card_btn-BUY:focus{
    background-color: rgb(44, 138, 138) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 400;
    border-color: rgb(44, 138, 138) !important;
}
.btn #left{
    padding-right: 10px;
    font-weight: 500 !important;
}
.btn #right{
    padding-left: 10px;
    font-weight: 500 !important;
    font-size: 1rem;
}
#right:hover, #right:target, #right:focus{
    color: rgb(60, 201, 211) !important;
}
#left:hover, #left:target, #left:focus{
    color: rgb(60, 201, 211) !important;
}
.button_span:hover{
    color: rgb(44, 138, 138) !important;
}
#card_btn-sizes:hover,
#card_btn-sizes:focus{
    background-color: rgb(44, 138, 138) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 400;
    border-color: rgb(44, 138, 138) !important;
}
#card_btn-sizes{
    background-color: rgb(255, 255, 255) !important;
    line-height: 1.8;
}
#price{
    color: #6c757d !important;
}
#heart{
    color: rgb(60, 201, 211) !important;
    text-align: right !important;
    font-size: 2rem !important;
}
#sizeDroppdownMenu{
    background-color: rgb(224, 253, 245) !important;
}

.bg-light {
    background-color: rgba(44, 138, 138, 1) !important;
}
.bg-danger {
    background-color: rgba(44, 138, 138, 0.5)  !important;
}
.bg-primary {
    background-color: rgba(44, 138, 138, 0.2)  !important;
}




/* ----------------FOOTER */
.page-footer {
    background-color: rgba(44, 138, 138, 0.5) !important;
}
.list-unstyled a{
    text-decoration: none !important;
    color: rgba(44, 138, 138, 1) !important;;
}
.list-unstyled a:hover{
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;;
}
@media (max-width: 768px) {
    .container-fluid{
        padding: 0 20px 0 20px !important;
    }
    #text-column-1{
        padding: 0 20px 0 20px !important;
    }
    #text-column-2{
        padding: 0 20px 0 20px !important;
    }
    #text-column-3{
        padding: 0 20px 0 20px !important;
    }
}




/* --------------------MODAL WINDOWS */
.modal-footer{
    border-top: none;
}
.modal-header{
    border-bottom: none;
}
#signUpBtn{
    background-color: rgba(44, 138, 138, 1) !important;
    border-color: rgba(44, 138, 138, 1) !important;
    opacity: 0.7;
}
#loginBtn{
    background-color: rgba(44, 138, 138, 1) !important;
    border-color: rgba(44, 138, 138, 1) !important;
    opacity: 0.7;
}
#signUpBtn:hover, #signUpBtn:target, #signUpBtn:focus{
    background-color: rgba(44, 138, 138, 1) !important;
    border-color: rgba(44, 138, 138, 1) !important;
    opacity: 1;
}
#loginBtn:hover, #loginBtn:target, #loginBtn:focus{
    background-color: rgba(44, 138, 138, 1) !important;
    border-color: rgba(44, 138, 138, 1) !important;
    opacity: 1;
}
