@import '../../_variables';

.none{
  opacity: 0.9;
}
.alert {
  position: relative;
  padding: .7rem 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 16px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.message-text{
  margin: 0px;
}
#close{
  position: absolute;
  top: 5px;
  right: 5px;
}
@media (max-width: 850px){
  .alert {
    width: 90%;
  }
}
@media (max-width: 700px){
  .alert {
    width: 100%;
  }
  .close button{
    position: relative;
    top: 3px;
    padding: 3px 3px 30px 3px;
  }
}